
.tz {
  margin: 20px;
  background-color: #ddd;
}

.hour {
    width: 65px;
    height: 65px;
}

.day {
   background-color: #bdd7ee;
   color: black;
}

.night {
   background-color: #8497b0;
   color: white;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.day-weekend {
    background-color: #c5e0b4;
    color: black;
}

.night-weekend {
    background-color: #548235;
    color: white;
}

.night .gray {
    color: lightgray;
}

.night-weekend .gray {
    color: lightgray;
}


.hours-with-scroll {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.hours-without-scroll {
  white-space: nowrap;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
