<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>World Timezones</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
    <script src="http://widget.time.is/en.js"></script>

    <script src="js/app.js"></script>
    <script src="js/service.js"></script>
    <script src="js/controller.js"></script>

</head>

<body>

<noscript>
    <div id="jsWarning" class="pageMessage">Please enable <u>JAVASCRIPT</u> for this page to work properly.</div>
</noscript>

<div ng-app="App">

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="images/index.png">
            </a>
        </div>
    </nav>

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h1>Time zones</h1>
        </div>


        <div class="panel-body"
             ng-controller="Controller as vm">

            <div class="container-fluid">

                <div class="row tz">
                    <div class="col-xs-2 col-md-2">
                        Name
                    </div>
                    <div class="col-xs-2 col-md-2">
                        Current time and date
                    </div>
                    <div class="col-xs-8 col-md-8">
                        {{vm.hoursCount}} hours time span.
                        <div>
                            Notations :
                            <span class="day">day</span>,
                            <span class="night">night</span>,
                            <span class="day-weekend">day weekend</span>,
                            <span class="night-weekend">night weekend</span>,
                        </div>
                    </div>
                </div>

                <div class="row panel tz" ng-repeat="(key, tz) in vm.timezones">
                    <div class="col-xs-2 col-md-2">
                        <h4><b>{{tz.label}}</b> ({{tz.country}})</h4>
                        <span ng-show="tz.info.length > 0" class="label label-primary">
                            {{tz.info}}
                        </span>
                    </div>
                    <div class="col-xs-2 col-md-2">
                        <h4>
                            <span id="{{tz.code}}" class="bold"></span>
                        </h4>
                    </div>
                    <div class="col-xs-8 col-md-8">
                        <div ng-class="{'horizontal-scroll-master hours-with-scroll': key==0, 'hours-without-scroll horizontal-scroll-slave': key>0}">

                            <button ng-class="['btn btn-default hour', {'day': item.hours > 7 && item.hours < 20 && !item.is_weekend, 'night': (item.hours <= 7 || item.hours >= 20) && !item.is_weekend, 'day-weekend': item.hours > 7 && item.hours < 20 && item.is_weekend, 'night-weekend': (item.hours <= 7 || item.hours >= 20) && item.is_weekend}]"
                                    ng-repeat="item in tz.timespan track by $index">
                                <h4><b>{{item.hours}}</b></h4>
                                <!--<p ng-class="{'bold' : item.hours == 0 || item.hours == 23, 'gray italic': item.hours != 0 && item.hours != 23 }"-->
                                <span class="bold gray"
                                      ng-show="item.hours == 0 || item.hours == 23">
                                    {{item.day}}/{{item.month}}
                                </span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<a href="http://time.is/UTC" id="time_is_link">.</a>

</body>
</html>